$body-color: #0080ff;
$secondary-color: #003366;

@mixin first-section {
    min-height: calc(80vh - 140px);
    margin-top: 120px;
}

body, html {
    background-color: $body-color;
    color: white;
    overflow-x: hidden;
    font-size: 18px;
}
//links
a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: white;
}

#welcome {
    //put first big img here background-color: aquamarine;
}

.first-section {
    @include first-section;
}

.bg-nav {
    background-color: $secondary-color !important; 
}
.navbar {
    min-height: 80px;
    padding: 20px 20%;
}
// changing nav link color
nav .navbar-nav li a {
    color: yellow !important;
    text-transform: uppercase;
    margin-right: 15px;
  }

#brand-name {
    font-size: 20px; 
    color: white;
    padding-left: 5%;
}

.short-info {
    vertical-align: center;
    * {
        margin-bottom: 1rem;
    }
    img {
        border-radius: 5px;
    }
}

#phone {
    width: 276px;
    height: auto;
}

#wow-classes {
    background-color: $secondary-color;
    padding: 40px 0;
}

.wow-class-icons {
    img {
        margin: 4px 6px;
    }
}
// 2nd section
#formular {
    min-height: 80vh;
    width: auto;
}

#sign-up-form {
    margin: 0 auto;
    max-width: 450px;
    height: 720px;
    border: 2px solid grey {
        radius: 5px;
    }
}

::placeholder {
    color: darkgrey;
}

.labels {
    padding-top: 1rem;
}

.windows {
    input, {
    color: white;
    width: 90%;
    height: 80px;
        border : {
            top: none; right: none; left: none; bottom: 2px solid grey;
        }
    background: {
        color: transparent;
        }
    }
}

//styling submit button
.my-button {
    margin-top: 10px;
    width: 160px;
    height: 50px;
    color: black;
    font-size: 24px;
    background-color: burlywood;
    border: 2px solid grey {
        radius: 10px;
    }
}
// 3rd section
#bg-switch {
    min-height: 90vh;
    width: auto;
}
.happy-tauren {
    min-height: 50px;
    padding: 0.5rem 0.25rem;
    background-color: $secondary-color;
    color: white;
    cursor: pointer;
    text-transform: capitalize;
    border: 3px solid #303030 {
        radius: 8px;
        };
}