@media (max-width: 767px) {
  h1 {
    font-size: 2rem; } }

@media (max-width: 767px) {
  h2 {
    font-size: 1.5rem; } }

@media (max-width: 767px) {
  h3 {
    font-size: 1.25rem; } }

.first-section {
  min-height: calc(80vh - 140px);
  margin-top: 15px; }

@media (max-width: 767px) {
  .flavor-text {
    display: none; } }

.short-info {
  vertical-align: center; }
  .short-info * {
    margin-bottom: 1rem; }
  .short-info img {
    border-radius: 5px; }

#phone {
  width: 276px;
  height: auto; }

#wow-classes {
  background-color: #2f3f6a;
  padding: 40px 0;
  border-top: 3px solid #0d0d0d;
  border-bottom: 3px solid #0d0d0d; }

.wow-class-icons img {
  margin: 4px 6px;
  cursor: pointer; }

.twist-it {
  animation-name: pulse;
  animation-duration: 2250ms; }

@keyframes pulse {
  0% {
    transform: rotate(0deg) scale(1); }
  50% {
    transform: rotate(360deg) scale(1.2); }
  100% {
    transform: rotate(0deg) scale(1); } }
#formular {
  min-height: 80vh;
  width: auto; }

#sign-up-form {
  margin: 0 auto;
  max-width: 450px;
  height: 720px;
  border: 2px solid grey;
    border-radius: 5px; }

#fun-output {
  margin: 85px 10px 0 10px;
  min-width: 200px;
  height: 120px;
  font-size: 22px; }

::placeholder {
  color: darkgrey; }

.labels {
  padding-top: 1rem; }

.windows input {
  color: white;
  width: 90%;
  height: 80px;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 2px solid grey;
  background-color: transparent; }

.my-button {
  margin-top: 10px;
  width: 160px;
  height: 50px;
  cursor: pointer;
  color: black;
  font-size: 24px;
  text-transform: uppercase;
  background-color: burlywood;
  border: 2px solid grey;
    border-radius: 10px; }

.moo {
  min-height: 40px;
  padding: 10px 0; }

#happy-members {
  border-top: 3px solid #0d0d0d;
  border-bottom: 3px solid #0d0d0d;
  background: #2f3f6a;
  cursor: pointer; }
  #happy-members :hover {
    color: burlywood;
    transition: 0.3s; }

#bg-switch {
  height: 78vh;
  width: auto; }

.wow-tauren-icons img {
  margin: 4px 6px;
  cursor: pointer; }

.scale-it {
  animation-name: grow;
  animation-duration: 1500ms; }

@keyframes grow {
  0% {
    transform: scale(1); }
  50% {
    transform: scale(1.2); }
  100% {
    transform: scale(1); } }
footer {
  background-color: #1a1a1a;
  padding: 40px 0; }

.list-inline * {
  margin-left: 1rem;
  color: #39e600;
  text-shadow: 0 0 10px #f2f2f2;
  font-size: 22px; }
.list-inline .list-tag {
  text-transform: uppercase;
  color: lightblue;
  text-shadow: none;
  font-size: 18px; }

.disclaimer:first-child {
  text-align: justify; }
  .disclaimer:first-child a {
    color: #00bfff;
    margin-right: 1rem; }

.faq-link {
  font-size: 1.5rem; }

#faq-one {
  margin: 120px 0 40px 0; }

.btn-my-link {
  font-weight: 400;
  color: #f2f2f2;
  background-color: transparent; }

.btn-my-link:hover {
  color: #d9d9d9;
  text-decoration: underline;
  background-color: transparent;
  border-color: transparent; }

.btn-my-link:focus, .btn-link.focus {
  text-decoration: underline;
  border-color: transparent;
  box-shadow: none; }

.btn-my-link:disabled, .btn-link.disabled {
  color: #6c757d;
  pointer-events: none; }

.wrap-heading {
  white-space: normal; }

.big-tauren img {
  max-width: 100%;
  height: auto; }

.bg-faq {
  background-color: #663300 !important; }

a.bg-faq:hover, a.bg-success:focus,
button.bg-success:hover,
button.bg-success:focus {
  background-color: #663300 !important; }

.bg-expands {
  background-color: #994d00; }

#about-info {
  margin-top: 120px;
  min-height: 60vh; }

body, html {
  background-image: radial-gradient(circle, #2b60a6, #484174, #3f2946, #271721, #000000);
  color: white;
  max-width: 100%;
  overflow-x: hidden !important;
  font-size: 18px; }

.jolly-font {
  font-family: 'Spicy Rice', cursive; }

a {
  color: white;
  text-decoration: none; }

a:hover {
  color: white; }

.bg-nav {
  background-color: #2f3f6a !important; }

.navbar {
  min-height: 80px;
  padding: 20px 20%; }
  @media (max-width: 767px) {
    .navbar {
      padding: 20px 4%; } }

nav .navbar-nav li a {
  color: yellow !important;
  text-transform: uppercase;
  margin-right: 15px; }

nav .navbar-nav li a:hover {
  text-decoration: underline; }

#brand-name {
  font-size: 26px;
  color: white;
  padding-left: 5%; }

/*# sourceMappingURL=main.css.map */
