@import "variables";
@import "mixins";
@import "responsive-typography";
@import "section1";
@import "section2";
@import "section3and4";
@import "footer";
@import "faq";
@import "about";

body, html {
    background-image: $main-color;
    color: white;
    max-width: 100%;
    overflow-x: hidden !important;
    font-size: 18px;
}
//second font type
.jolly-font {
    font-family: 'Spicy Rice', cursive;
}
//links
a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: white;
}

// navigation
.bg-nav {
    background-color: $secondary-color !important; 
}
.navbar {
    min-height: 80px;
    padding: 20px 20%;
    @media (max-width: 767px) {
        padding: 20px 4%;
    }
}
// changing nav link color
nav .navbar-nav li a {
    color: yellow !important;
    text-transform: uppercase;
    margin-right: 15px;
  }

nav .navbar-nav li a:hover {
    text-decoration: underline;
}
// MooMooSmile brand name
#brand-name {
    font-size: 26px;
    color: white;
    padding-left: 5%;
}