//section 3
#bg-switch {
    min-height: 90vh;
    width: auto;
}
.moo {
    min-height: 50px;
    min-width: 100px;
    padding: 0.5rem 0.25rem;
    background-color: $secondary-color;
    color: white;
    cursor: pointer;
    text-transform: capitalize;
    border: 1px solid #303030 {
        radius: 10px;
        };
}