//section 3 onward
.moo {
    min-height: 40px;
}

#happy-members {
    @include borders;
    background: $secondary-color;
    cursor: pointer;
    :hover {
      color: burlywood;
      transition: 0.3s;
    }
}
#bg-switch {
    height: 80vh;
    width: auto;
}
//Tauren icons
.wow-tauren-icons {
    img {
        @include iconic;
    }
}

.scale-it {
    animation-name: grow;
    animation-duration: 1500ms;
}
@keyframes grow {
    0% {transform: scale(1);}
    50% {transform: scale(1.2);}
    100% {transform: scale(1);}
}