//section 2
#formular {
    min-height: 80vh;
    width: auto;
}

#sign-up-form {
    margin: 1rem auto;
    max-width: 450px;
    height: 720px;
    border: 2px solid grey {
        radius: 5px;
    }
}

#fun-output {
    margin: 85px 10px 0 10px;
    min-width: 200px;
    height: 120px;
    font-size: 22px;
}

::placeholder {
    color: darkgrey;
}

.labels {
    padding-top: 1rem;
}

.windows {
    input, {
    color: white;
    width: 90%;
    height: 80px;
        border : {
            top: none; right: none; left: none; bottom: 2px solid grey;
        }
    background: {
        color: transparent;
        }
    }
}

//styling submit button
.my-button {
    margin-top: 10px;
    width: 160px;
    height: 50px;
    cursor: pointer;
    color: black;
    font-size: 24px;
    text-transform: uppercase;
    background-color: burlywood;
    border: 2px solid grey {
        radius: 10px;
    }
}

//Tauren icons
.wow-tauren-icons {
    img {
        @include iconic;
    }
}

.scale-it {
    animation-name: grow;
    animation-duration: 1500ms;
}
@keyframes grow {
    0% {transform: scale(1);}
    50% {transform: scale(1.2);}
    100% {transform: scale(1);}
}