//section 1

.first-section {
    min-height: calc(80vh - 140px);
    margin-top: 120px;
}

.flavor-text {
    @media (max-width: 767px) {
        display: none;
    }
}

.short-info {
    vertical-align: center;
    * {
        margin-bottom: 1rem;
    }
    img {
        border-radius: 5px;
    }
}

#phone {
    width: 276px;
    height: auto;
}

#wow-classes {
    background-color: $secondary-color;
    padding: 40px 0;
    @include borders;
}

.wow-class-icons {
    img {
        @include iconic;
    }
}

.twist-it {
    animation-name: pulse;
    animation-duration: 2250ms;
}
@keyframes pulse {
    0% {transform: rotate(0deg) scale(1);}
    50% {transform: rotate(360deg) scale(1.2);}
    100% {transform: rotate(0deg) scale(1);}
}
